<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>共用部件</title> 
    <meta charset="UTF-8" />
</head>
<body style="width:1024px;margin:auto;">
		<header th:fragment="header">
			<img th:src="@{/images/logo.jpg}" />
			<nav bgcolor="#CCFF00">
				<a th:href="@{/}">首页</a> 
				<!--<a th:href="@{/college/colleges}">学院</a>-->
				<a th:href="@{/classes/getClasses}">班级</a>
				<a th:href="@{/student/getStudent}" ><!--  target="_blank" -->学生</a>
			</nav>
				<div> 
		<a href="http://www.baidu.com" target="_blank">百度一下</a>
		</div>
			<hr />
		</header>
		<footer th:fragment="footer">
			<hr />
			<p> &copy; CopyRight 西南科技大学
				Spring Boot微框架 Web App开发组</p>
		</footer>
</body>
</html>
